


              <li class="navigation-item js-nav-system__item" data-show-sub="false">
                  <a class="navigation-link js-nav-system__link" href="#">Club avec transport</a>

                  <!-- Navigation 2nd niveau -->
                  <ul class="subnavigation-list js-nav-system__subnav" data-visually-hidden="true" style="display: block;">
                      <li class="subnavigation-item-title js-nav-system__subnav__item" style="text-transform: uppercase">Club avec transport</li>
                      <li class="subnavigation-item js-nav-system__subnav__item">
                          <a class="subnavigation-link js-nav-system__subnav__link non-hover" href="/ecole-de-sport.html">Les cours à l'année</a>
                      </li>
                      <li class="subnavigation-item js-nav-system__subnav__item">
                          <a class="subnavigation-link js-nav-system__subnav__link non-hover" href="/stage-a-la-seance.html">Stage vacances - à la séance</a>
                      </li>
                      <li class="subnavigation-item js-nav-system__subnav__item">
                          <a class="subnavigation-link js-nav-system__subnav__link non-hover" href="/stage-a-la-semaine.html">Stage vacances - à la semaine</a>
                      </li>
                      <li class="subnavigation-item js-nav-system__subnav__item">
                          <a class="subnavigation-link js-nav-system__subnav__link non-hover" href="/anniversaire.html">Les fêtes d'anniversaire</a>
                      </li>

                  </ul>
                  <!-- /subnavigation-list -->
              </li>

              <li class="navigation-item js-nav-system__item">
                  <a class="navigation-link js-nav-system__link" href="#">Gymnases parisiens</a>

                  <!-- Navigation 2nd niveau -->
                  <ul class="subnavigation-list js-nav-system__subnav" data-visually-hidden="true" style="display: block;">
                      <li class="subnavigation-item-title js-nav-system__subnav__item" style="text-transform: uppercase">Gymnases parisiens</li>
                      <li class="subnavigation-item js-nav-system__subnav__item">
                          <a class="subnavigation-link js-nav-system__subnav__link non-hover" href="/gymnase.html/Paris7%C3%A8me">Paris 7ème </a>
                      </li>
                      <li class="subnavigation-item js-nav-system__subnav__item">
                          <a class="subnavigation-link js-nav-system__subnav__link non-hover" href="/gymnase.html/Paris8%C3%A8me">Paris 8ème</a>
                      </li>
                      <li class="subnavigation-item js-nav-system__subnav__item">
                          <a class="subnavigation-link js-nav-system__subnav__link non-hover" href="/gymnase.html/Paris16%C3%A8me">Paris 16ème</a>
                      </li>
                      <li class="subnavigation-item js-nav-system__subnav__item">
                          <a class="subnavigation-link js-nav-system__subnav__link non-hover" href="/gymnase.html/Paris17%C3%A8me">Paris 17ème</a>
                      </li>

                  </ul>
                  <!-- /subnavigation-list -->
              </li>

              <li class="navigation-item js-nav-system__item">

                  <a class="navigation-link js-nav-system__link" href="#">Séjours vacances</a>

                  <!-- Navigation 2nd niveau -->
                  <ul class="subnavigation-list js-nav-system__subnav" data-visually-hidden="true" style="display: block;">
                      <li class="subnavigation-item-title js-nav-system__subnav__item" style="text-transform: uppercase">Séjours vacances</li>

                      <li class="subnavigation-item js-nav-system__subnav__item">
                          <a class="subnavigation-link js-nav-system__subnav__link non-hover" href="/sejour-de-ski.html">Les séjours de ski</a>
                      </li>
                      <li class="subnavigation-item js-nav-system__subnav__item">
                          <a class="subnavigation-link js-nav-system__subnav__link non-hover" href="/alpe-d-huez-multisport.html">Les séjours en corse</a>
                      </li>

                  </ul>

              </li>

              <li class="navigation-item js-nav-system__item" data-show-sub="false">
                  <a class="navigation-link js-nav-system__link" href="#">Sorties à thèmes</a>

                  <!-- Navigation 2nd niveau -->
                  <ul class="subnavigation-list js-nav-system__subnav" data-visually-hidden="true" style="display: block;">

                      <li class="subnavigation-item-title js-nav-system__subnav__item" style="text-transform: uppercase">Sorties à thèmes</li>

                      <li class="subnavigation-item js-nav-system__subnav__item">
                          <a class="subnavigation-link js-nav-system__subnav__link non-hover" href="/evenement-sportif.html">Evènements sportifs</a>
                      </li>
                      <li class="subnavigation-item js-nav-system__subnav__item">
                          <a class="subnavigation-link js-nav-system__subnav__link non-hover" href="/parc-d-attraction.html">Parc d'attraction</a>
                      </li>

                  </ul>
              </li>